.pseudo {
  display: inline-block;
  width: 100%;
  max-width: 76px;
  height: auto;
}

.title {
  font: var(--font-1-lxx-b);
  padding-left: 1rem;
}

.pseudo-container {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .title {
    display: flex;
    align-items: center;
    font: var(--font-1-m-sb);
  }
  .pseudo {
    max-width: 31px;
  }
  .pseudo-container {
    gap: 0.5rem;
  }
}
