.background-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.background {
  background-color: var(--c11);
}

.title-container {
  max-width: 1200px;
  width: 100%;
  padding-top: var(--top-space);
  padding-bottom: 2.5rem;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: var(--top-space);
  padding-bottom: var(--bot-space);
  padding-left: 1rem;
  padding-right: 1rem;
}

.image {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 31.25rem;
  width: 100%;
  height: auto;
}

.pseudo-container {
  position: relative;
}

.pseudo {
  background: var(--g1);
  border-radius: 0px 0.3125rem 0.3125rem 0px;
  color: var(--c12);
  font: var(--font-1-s-sb);
  padding: 0.375rem 0.75rem;
  display: inline-block;
  max-width: 28ch;
  position: absolute;
  top: 1.625rem;
  left: 0rem;
}

@media (max-width: 768px) {
  .title-container {
    padding-bottom: 1.25rem;
  }
  .image-container {
    flex-direction: column;
  }
  .image {
    max-height: 26rem;
  }
}
