.all {
  border-radius: 0.3125rem;
}

.solid {
  background: var(--g1);
  color: var(--p2);
  border: none;
  font: var(--font-1-m-sb);
  padding: 1rem 2rem;
  width: fit-content;
}

.outline {
  border: solid 1px var(--c12);
  color: var(--c12);
  font: var(--font-1-s-sb);
  transition: 500ms;
}

.outline:hover {
  background: var(--c12);
  color: var(--p1);
}

.clean {
  font: var(--font-1-s-sb);
  color: var(--c12);
  border: none;
}

.clean[data-active] {
  position: relative;
}

.clean[data-active="true"]::after,
.clean[data-active="false"]:hover::after,
.clean[data-active="false"]::after {
  content: "";
  height: 0.1875rem;
  background: var(--c12);
  display: inline-block;
  position: absolute;
  left: 0.75rem;
  bottom: -0.0625rem;
  border-radius: 0.3125rem;
}

.clean[data-active="false"]::after {
  width: 0%;
  transition: 0.3s;
}

.clean[data-active="true"]::after,
.clean[data-active="false"]:hover::after {
  width: calc(100% - 1.5rem);
}

.clean[data-hamburguer-active="true"],
.clean[data-hamburguer-active="false"]:hover {
  background-color: var(--c3);
}

@media (max-width: 768px) {
  .outline:hover {
    color: var(--c0);
  }
  .solid {
    padding: 0.75rem 1.5rem;
    font: var(--font-1-s-sb);
  }
}
