.background-container {
  background-color: var(--c0);
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-container {
  max-width: 1200px;
  padding-top: var(--top-space);
  padding-bottom: 2.5rem;
  width: 100%;
}

.partners-container {
  display: flex;
  gap: 2.5rem;
  padding-bottom: var(--bot-space);
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: nowrap;
}

.partners-container::-webkit-scrollbar {
  display: none;
}

.partners-container .image-container:nth-child(even) {
  position: relative;
}

.partners-container .image-container:nth-child(even)::before {
  content: "";
  display: inline-block;
  width: 0.125rem;
  height: 100%;
  background-color: var(--c3);
  border-radius: 0.3125rem;
  position: absolute;
  left: -1.25rem;
}

.image {
  display: block;
  object-fit: contain;
  object-position: center;
  max-width: 16.0625rem;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .title-container {
    padding-bottom: 1.25rem;
  }
  .image {
    max-width: 9rem;
  }
  .partners-container {
    gap: 1.25rem;
  }
  .partners-container .image-container:nth-child(even)::before {
    left: -0.625rem;
  }
}
