.background-container {
  background-color: var(--c0);
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-container {
  max-width: 1200px;
  padding-top: var(--top-space);
  padding-bottom: 2.5rem;
  width: 100%;
}

@keyframes carrossel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.background-partners-container {
  overflow: hidden;
  padding: 3.75rem 0;
  white-space: nowrap;
  position: relative;
}

.background-partners-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6.25rem;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--c0));
  z-index: 2;
}

.background-partners-container:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 6.25rem;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--c0));
  z-index: 2;
}

.background-partners-container:hover .partners-container {
  animation-play-state: paused;
}

.partners-container {
  display: inline-block;
  animation: 15s carrossel infinite linear;
  white-space: nowrap;
}

.image {
  margin: 0 2.5rem;
  width: auto;
  height: 3.75rem;
  display: inline;
}

@media (max-width: 768px) {
  .title-container {
    padding-bottom: 1.25rem;
  }
  .image {
    height: 2.5rem;
    width: auto;
    margin: 0 1.25rem;
  }
  .background-partners-container {
    padding: 1.25rem 0;
  }
  .background-partners-container:after,
  .background-partners-container:before {
    width: 5rem;
  }
}
