.background-container {
  background-color: var(--c12);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.main-container {
  display: grid;
  width: 100%;
  max-width: 1200px;
  grid-template-columns: 3fr 5fr 4fr;
  justify-content: space-between;
  padding-top: var(--top-space);
  padding-bottom: var(--bot-space);
  row-gap: 3.75rem;
}

.pseudo::after {
  content: "";
  display: block;
  width: 78%;
  height: 0.25rem;
  border-radius: 0.3125rem;
  margin-top: 20px;
  background-color: var(--c7);
}

.icon-container {
  width: fit-content;
}

.description-text {
  font: var(--font-2-s-r);
  color: var(--c5);
  transition: 500ms;
}

.description-text[href]:hover {
  color: var(--c3);
}

@media (max-width: 1024px) {
  .logo {
    display: none;
  }
  .pseudo::after {
    width: 70%;
  }
  .main-container {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
  }
}
