.background-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: radial-gradient(var(--c12) 20%, var(--c9) 130%);
}

.content-container {
  max-width: 1200px;
  width: 100%;
}

.banner-mobile,
.banner-pc {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
}

.banner-mobile {
  display: none;
}

@media (max-width: 768px) {
  .banner-mobile {
    display: block;
  }
  .banner-pc {
    display: none;
  }
}
