.background-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--c11);
}

.title-container {
  max-width: 1200px;
  width: 100%;
  text-align: left;
  padding-top: var(--top-space);
  padding-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .title-container {
    padding-bottom: 1.25rem;
  }
}
