.background-container {
  background-color: var(--c0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 3.75rem;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0.25rem 0px;
}

.content-container::-webkit-scrollbar {
  display: none;
}

.content-container:first-child {
  padding-left: 1rem;
}

.content-container:last-child {
  padding-right: 1rem;
}

@media (max-width: 1024px) {
  .content-container {
    justify-content: initial;
  }
}

@media (max-width: 768px) {
  .content-container {
    gap: 1rem;
  }
  .background-container {
    padding: 2.5rem 0px;
  }
}
