.background-container {
  background: var(--c11);
  width: 100%;
  padding-top: var(--top-space);
  padding-bottom: var(--bot-space);
  display: flex;
  justify-content: center;
}

.title-container {
  width: 100%;
  max-width: 1200px;
}
