.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  gap: 0.5rem;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
}

.image {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  width: 100%;
  height: auto;
  max-width: 13.9375rem;
  max-height: 13.9375rem;
  min-width: 9.0625rem;
  min-height: 9.0625rem;
}

.pseudo {
  width: 100%;
  height: 0rem;
  position: relative;
}

.pseudo::before {
  content: "";
  width: 100%;
  height: 0.125rem;
  display: inline-block;
  background: var(--p1);
  -webkit-box-shadow: 0px 1px 4px 0px var(--p1);
  -moz-box-shadow: 0px 1px 4px 0px var(--p1);
  box-shadow: 0px 1px 4px 0px var(--p1);
  position: absolute;
  top: 0rem;
}

.title {
  font: var(--font-1-s-sb);
  color: #000000;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
}
